@font-face {
    font-family: "FjallaOne";
    src: url(../fonts/FjallaOne-Regular.ttf) format("truetype");
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "WorkSans";
    src: url(../fonts/WorkSans-VariableFont_wght.ttf) format("truetype");
    font-style: normal;
    font-display: swap;
}

body{
    background-color: #a19090;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    font-family: "FjallaOne", sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

main{
    font-family: "WorkSans", sans-serif;
    width: 100%;
    max-width: 700px;
    margin: 20px auto;
    background-color: #eeeded;
    border: 1px solid #cccccc;
    border-radius: 10px;
    padding: 10px;
}

fieldset{
    padding: 10px;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
}

legend{
    padding: 0 10px;
    font-weight: bold;
}

label{
    font-weight: 500;
    margin: 100px 0;
}

input{
    margin: 5px 0;
    padding: 5px;
}

input,textarea{
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
}

textarea{
    height: 100px;
    margin-top: 5px;
}

input:focus-visible,
textarea:focus-visible,
select:focus-visible {
    outline: none;
    border: 2px solid #007BFF;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.2);
}

input[type='checkbox'],[type='radio']{
    width: auto;
}

input[type="color"]{
    width: 30px;
    padding: 0;
}

input:invalid,select:invalid{
    outline: none;
    border: 1px solid red;
    box-shadow: 0 0 0 1px rgba(255, 0, 0, 0.301);
}

input:valid:required,select:valid:required{
    outline: none;
    border: 1px solid green;
    box-shadow: 0 0 0 1px rgba(0, 128, 0, 0.267);
}

select{
    margin: 15px 0;
    padding: 0;
}

p{
    font-weight: 600;
    margin-bottom: 10px;
}

button{
    width: 50px;
    height: 30px;
    margin: 10px 10px 0 0;
    cursor: pointer;
}

button[type="submit"]:hover{
    background-color: green;
    color: #ffffff;
}

button[type="reset"]:hover{
    background-color: red;
    color: #ffffff;
}

input[type="checkbox"]:required:not(:checked){
    color: red;
    outline: 1px solid red;
    outline-offset: 1px;
}

input[type="checkbox"]:required:not(:checked) + label {
    color: red;
}

input[type="checkbox"]:required:checked{
    outline: 1px solid green;
    outline-offset: 1px;
}

input[type="checkbox"]:required:checked + label {
    color: green;
}